<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "sample_app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.help"), help_path %></li>
        <li><%= link_to t("header.login"), "#" %></li>
        <li><%= link_to t("header.english"), locale:"en" %></li>
        <li><%= link_to t("header.vietnamese"), locale:"vi" %></li>
      </ul>
    </nav>
  </div>
</header>
